#logo {
	width:45%;
}
#menu {
	margin-top: 10px;
}
#comments {
	
	background:linear-gradient(to bottom, white, silver);
	border: 5px solid brown;
	margin-top: 5px;
	height: 900px;
	width: 100%;
}
#form {
	border: 3px solid blue;
	height: 700px;
	float: right;
	background-color: lightblue;
}
#name {
	width: 150px;
	margin-right: 8px;
}
#header {
	text-align:center;
	background-color:black;
	font-size:2.5em;
	text-decoration:bold;
	color:white;
	border-radius:10px;
	margin-left:-16px;
	margin-right:-16px;
	margin-bottom:15px;
}
.icon {
	height: 45px;
	width: 45px;
	padding-right: 10px;
}
#usercomment {
	border: 2px solid orange;
	border-radius: 15px;
	width: 200px;
}